<!DOCTYPE html>
<html>

<head>
  <title>CarbSet</title>
  <link rel='stylesheet' href='/stylesheets/styles.css' />
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  
  <!-- == google font == -->


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
    <!-- == icon == -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>

<body>

  <section id="page">

    <nav>
      <ul class="item-nav">
        <li class="btn"><a href="#">Home</a></li>
        <li class="btn"><a href="#aboutus">About</a></li>
        <li class="btn"><a href="#">Leaderboard</a></li>
        <li class="btn"><a href="#">Projects</a></li>
        <li class="btn"><a href="#">Contact</a></li>
        <li class="btn profile-nav"><a href="/profile">Profile</a></li>
      </ul>
    </nav>

  </section>

  <div class="page about">

    
    
    <div class="inner">
      <h2 class="title-head" data-text="&nbsp; GreenMark &nbsp;">&nbsp; GreenMark</span> &nbsp;</h2>
      <h2 class="title-slogan" data-text="&nbsp; The Green Trend Begins... &nbsp;">&nbsp; The Green Trend Begins...</span> &nbsp;</h2>

      <!-- <img src="/images/homepageBg.jpg" alt="bgImg" class="bg">     -->

    </div>   
    <div id="leaves">
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i> 
    </div>
    
    
    
    <div id="aboutus" class="box">
      <h1 class="about-heading">About Us</h1>
      <p class="about-text"><a class="underline" href="GreenMark">GreenMark</a>, a carbon offsetting platform that leverages the power of block chain technology to help individuals and businesses easily offset their environmental footprints as well as allow them to compete with each other to become leaders in sustainability. <br><br>
        We carefully select high-quality carbon offset projects that not only help reduce carbon emissions but also have positive impacts on local communities and the environment. These projects may include renewable energy, forest conservation, and sustainable agriculture, among others. <br><br>        
        Through our blockchain-based platform, we ensure that every transaction is secure, transparent, and traceable, providing complete accountability and reducing the risk of fraud.   <br><br>    
        Our unique leaderboard system promotes healthy competition among companies, creating a friendly environment for businesses to compete and collaborate towards a common goal of reducing carbon emissions and protecting the planet. <br><br>
        
        Join us today and make a positive impact on the environment, while also gaining recognition for your sustainability efforts.
      </p>
      
      
      
    </div>
    
    

    

  </div>

  <hr class="sep-1">

  <div class="page about">

    <!-- <div class="smoke">
      <video src="/images/grey-91072.mp4" autoplay muted></video>
    </div> -->
    
    <div class="box">
      <h1 class="about-heading">Our Vision</h1>
      <p class="about-text">At <a class="underline" href="GreenMark">GreenMark</a>, we take carbon offsetting to the next level. We use blockchain
        technology
        to ensure transparency, traceability, and security for all carbon offsetting transactions. 
        <br><br>
        By using blockchain
        to create a transparent and secure carbon offsetting platform, we hope to inspire individuals and businesses
        to
        take action against climate change and promote a more sustainable future
      </p>
    </div>
    
    
  </div>

  <hr class="sep-1">


  <div class="page about">
    <div class="box">
      <h1 class="about-heading">What We Do ?</h1>
      <p class="about-text">We believe that blockchain technology is a powerful tool for promoting sustainability and
        combating climate change.
        <br><br>
        We develop and deliver the highest quality carbon financed projects, from which we create carbon credit for
        our clients. Our platform provides a secure and
        decentralized environment where individuals and businesses can offset their carbon footprint and track their
        carbon credits with confidence.
        <br><br>
        This enables organizations to offset the emissions they can’t reduce, put a price on carbon to incentivize
        change, and meet their ambitious climate goals.

      </p>
    </div>
    
  </div>

  <hr id="lastSep" class="sep-1">

  <div class="page about">
    <div class="box">
      <h1 class="about-heading">What Sets Us Apart ?</h1>
        <ul class="about-text ul-design" style="text-align: left;">
          <li>Ambition - We are relentless in our drive to deliver real change by cutting carbon from our environment in the most impactful ways.</li>
          <li>Innovation – We are constantly learning and evolving to deliver new solutions, greater speed and more impact.</li>
          <li>Integrity – We follow the best practice and create even better practice to ensure our clients and partners have confidence in everything we deliver.</li>
          <li>Empowerment – We build enduring partnerships, demonstrate the highest standards and create inspiring and impactful solutions that empower our partners to go further, be more ambitious and deliver greater impact.</li>
        </ul>
        
    </div>

    <div id="factory" class="factory opacityhalf">
      <img src="/images/mask1.png" alt="">
    </div>
    <div id="afforestation" class="afforestation opacityhalf">
      <img src="/images/mask2.png" alt="">
    </div>

    

  </div>


  
<!-- #region footer -->
<div class="footer">
  <div class="bubbles">
    <div class="bubble" style="--size:4.284973441369243rem; --distance:6.670373809064492rem; --position:44.521730838447965%; --time:2.115459046676541s; --delay:-3.8362654657611417s;"></div>
    <div class="bubble" style="--size:2.3389806458456723rem; --distance:6.492475452364838rem; --position:39.52316011474058%; --time:3.957261922409345s; --delay:-3.324945498774568s;"></div>
    <div class="bubble" style="--size:3.9284005919079332rem; --distance:6.58792208017123rem; --position:35.09383815681765%; --time:2.5650232292146016s; --delay:-2.5379093454966486s;"></div>
    <div class="bubble" style="--size:2.06745864609276rem; --distance:7.543422286022368rem; --position:83.92712025095885%; --time:2.0710133660064463s; --delay:-2.907492328242491s;"></div>
    <div class="bubble" style="--size:5.950572732663763rem; --distance:7.876253576791662rem; --position:83.92406009200658%; --time:3.203423303487432s; --delay:-3.037554696392095s;"></div>
    <div class="bubble" style="--size:5.771457164728968rem; --distance:8.8661378677929rem; --position:94.71372185603897%; --time:3.953385745560668s; --delay:-2.6422591807297757s;"></div>
    <div class="bubble" style="--size:3.1746954379152044rem; --distance:7.3316008078638575rem; --position:76.2850475475765%; --time:2.3078293348164944s; --delay:-2.819107996831435s;"></div>
    <div class="bubble" style="--size:2.235923887515674rem; --distance:7.310956098425803rem; --position:99.73065916400402%; --time:3.4740491183178945s; --delay:-2.159107531700079s;"></div>
    <div class="bubble" style="--size:2.12451061425718rem; --distance:9.454831985186718rem; --position:12.08166465589252%; --time:3.801225927039599s; --delay:-2.8065337300740234s;"></div>
    <div class="bubble" style="--size:4.507711950318251rem; --distance:7.658760022897132rem; --position:22.334990520896174%; --time:3.1323251177255167s; --delay:-3.458075782108985s;"></div>
    <div class="bubble" style="--size:3.4804913784789244rem; --distance:8.43196320492547rem; --position:49.478557186184084%; --time:3.9980757484904226s; --delay:-2.1122964763430456s;"></div>
    <div class="bubble" style="--size:4.8287044849007374rem; --distance:8.72566990024621rem; --position:74.05204464485382%; --time:3.927172883549023s; --delay:-3.71796193224988s;"></div>
    <div class="bubble" style="--size:3.7867490631886866rem; --distance:7.177649443757972rem; --position:20.025035308154667%; --time:3.043005932947872s; --delay:-2.8626470135901867s;"></div>
    <div class="bubble" style="--size:3.155575100554554rem; --distance:7.117304027300576rem; --position:72.95671467687599%; --time:2.268453553959479s; --delay:-2.762350312104511s;"></div>
    <div class="bubble" style="--size:3.9404865502788704rem; --distance:6.320811765592205rem; --position:28.084378908804922%; --time:3.1331395595249187s; --delay:-2.896136923930816s;"></div>
    <div class="bubble" style="--size:4.311033935006944rem; --distance:7.562824974464212rem; --position:37.892570933679984%; --time:3.1213952380864605s; --delay:-3.537203826563461s;"></div>
    <div class="bubble" style="--size:3.2127962239658485rem; --distance:9.181267862708761rem; --position:40.293674812502765%; --time:3.5855256095603765s; --delay:-3.2729184641104174s;"></div>
    <div class="bubble" style="--size:3.766552494980509rem; --distance:8.246354751564564rem; --position:9.33313442023325%; --time:3.36441087744058s; --delay:-3.2403044861144434s;"></div>
    <div class="bubble" style="--size:2.7411990743757437rem; --distance:6.9026892341822705rem; --position:91.86837035402715%; --time:3.130376882871531s; --delay:-2.2072392509096717s;"></div>
    <div class="bubble" style="--size:5.8150036300040036rem; --distance:7.645676389317495rem; --position:47.18231177173568%; --time:2.6249075828799056s; --delay:-3.0711607333157267s;"></div>
    <div class="bubble" style="--size:4.047536503389156rem; --distance:6.8803478223746515rem; --position:30.477266366759075%; --time:2.5191381356708087s; --delay:-2.917216395511718s;"></div>
    <div class="bubble" style="--size:3.0474889057101073rem; --distance:8.353692354282664rem; --position:99.8889654253955%; --time:3.0424418224379175s; --delay:-3.81698026685166s;"></div>
    <div class="bubble" style="--size:5.150714785540908rem; --distance:6.65645273772254rem; --position:77.80605972603101%; --time:3.3408418307873826s; --delay:-3.8185168540364938s;"></div>
    <div class="bubble" style="--size:4.819206697927196rem; --distance:9.271885659185202rem; --position:82.72786887575603%; --time:2.1360638254800044s; --delay:-3.3503707513181813s;"></div>
    <div class="bubble" style="--size:3.3893117408178384rem; --distance:7.577428133739147rem; --position:35.304857734717274%; --time:3.632327297500392s; --delay:-3.5448060710934493s;"></div>
    <div class="bubble" style="--size:5.060329360074561rem; --distance:9.317542944472951rem; --position:52.57703100742214%; --time:3.453376512646452s; --delay:-2.225670370352409s;"></div>
    <div class="bubble" style="--size:4.294030763643961rem; --distance:9.86891149298651rem; --position:15.890582427754737%; --time:3.2435415612352667s; --delay:-3.9068575758787363s;"></div>
    <div class="bubble" style="--size:4.282605635305751rem; --distance:9.596442461319025rem; --position:52.36098571658112%; --time:3.4684223762298934s; --delay:-2.926533527742715s;"></div>
    <div class="bubble" style="--size:4.391090550300849rem; --distance:7.655596029786262rem; --position:61.425866570196035%; --time:3.8719215662904736s; --delay:-3.9009162246855076s;"></div>
    <div class="bubble" style="--size:2.963247361475145rem; --distance:6.118686097528884rem; --position:15.57830564836732%; --time:2.3989711063251735s; --delay:-2.2894597593416406s;"></div>
    <div class="bubble" style="--size:3.675983662477953rem; --distance:9.488727362893671rem; --position:55.271280309113244%; --time:2.3062652239472654s; --delay:-3.008384982493872s;"></div>
    <div class="bubble" style="--size:3.900537907169854rem; --distance:8.670110379023782rem; --position:35.64886700508998%; --time:2.9054533314168025s; --delay:-2.769726589301373s;"></div>
    <div class="bubble" style="--size:4.127782153534043rem; --distance:8.274739018167228rem; --position:11.952334282596535%; --time:3.18324545172248s; --delay:-3.488805069202499s;"></div>
    <div class="bubble" style="--size:3.9578453687208297rem; --distance:8.877416841653192rem; --position:34.41053965620069%; --time:3.9135596970462845s; --delay:-3.7347439391153667s;"></div>
    <div class="bubble" style="--size:5.723941215710738rem; --distance:9.95763578464462rem; --position:52.00972261203658%; --time:2.068731174952269s; --delay:-2.090911012570205s;"></div>
    <div class="bubble" style="--size:2.991441220252012rem; --distance:8.411837902928994rem; --position:74.27473576140031%; --time:2.732679963044953s; --delay:-3.5147641043504088s;"></div>
    <div class="bubble" style="--size:3.457521798816545rem; --distance:7.861521205927725rem; --position:8.183638176381983%; --time:3.3427354715069977s; --delay:-2.2392930200482817s;"></div>
    <div class="bubble" style="--size:5.788902891820694rem; --distance:6.047275036302333rem; --position:4.235958811904039%; --time:3.4391926958321113s; --delay:-2.407278442202584s;"></div>
    <div class="bubble" style="--size:2.573840455496316rem; --distance:6.239945947681465rem; --position:7.978209630702672%; --time:2.8782154033187357s; --delay:-2.783020506057277s;"></div>
    <div class="bubble" style="--size:2.9752555680007813rem; --distance:9.957577062947568rem; --position:23.429024869078216%; --time:3.9871886384130932s; --delay:-3.1604593181873186s;"></div>
    <div class="bubble" style="--size:4.34641599095097rem; --distance:9.971022122594011rem; --position:28.909161891009973%; --time:3.0199285021592974s; --delay:-2.400871276072106s;"></div>
    <div class="bubble" style="--size:2.677440931277097rem; --distance:9.299739739351406rem; --position:44.81172203825131%; --time:3.116579337213901s; --delay:-3.3984890710606726s;"></div>
    <div class="bubble" style="--size:4.424941373752555rem; --distance:9.213002155667997rem; --position:70.29190269446832%; --time:3.174767960585579s; --delay:-2.009126000384057s;"></div>
    <div class="bubble" style="--size:3.8716945065852393rem; --distance:7.111900422340304rem; --position:4.955670487862765%; --time:2.5221564945100856s; --delay:-2.378662680760503s;"></div>
    <div class="bubble" style="--size:3.777629858658079rem; --distance:7.072222242392797rem; --position:7.921993565514187%; --time:2.185677600361025s; --delay:-2.8756240548193377s;"></div>
    <div class="bubble" style="--size:4.242977575144104rem; --distance:7.478982748924737rem; --position:30.651349621267748%; --time:2.9972866661586663s; --delay:-2.353296518703236s;"></div>
    <div class="bubble" style="--size:2.8641802776935323rem; --distance:9.592523097275262rem; --position:101.85126400737462%; --time:3.951578353104892s; --delay:-3.167075295015397s;"></div>
    <div class="bubble" style="--size:4.520126249454763rem; --distance:9.275530765832379rem; --position:81.08934514055457%; --time:2.8086664240795294s; --delay:-2.3248707494585727s;"></div>
    <div class="bubble" style="--size:4.350910589814085rem; --distance:7.274444070529594rem; --position:87.3127767312947%; --time:2.929826483374051s; --delay:-2.445342444648759s;"></div>
    <div class="bubble" style="--size:3.9554091452245563rem; --distance:8.995274535548749rem; --position:66.15342548591786%; --time:3.2703890136669918s; --delay:-2.6946924625676254s;"></div>
    <div class="bubble" style="--size:5.540387676814101rem; --distance:6.28883059324627rem; --position:48.543871683303784%; --time:2.2099085936724205s; --delay:-3.038269254044466s;"></div>
    <div class="bubble" style="--size:5.582440606308946rem; --distance:7.704412960837537rem; --position:43.56698717288884%; --time:2.9864870033614355s; --delay:-2.1975305285697946s;"></div>
    <div class="bubble" style="--size:5.893576439920773rem; --distance:9.732984093146655rem; --position:40.801982145651316%; --time:3.756063316687318s; --delay:-3.2379291245211026s;"></div>
    <div class="bubble" style="--size:4.645433828206881rem; --distance:6.974792021038244rem; --position:98.41893368701221%; --time:2.864562660821246s; --delay:-3.890035495082007s;"></div>
    <div class="bubble" style="--size:2.137676521282093rem; --distance:8.017494902464067rem; --position:51.57593661601133%; --time:3.849039061086021s; --delay:-2.114932628063097s;"></div>
    <div class="bubble" style="--size:3.807765278334477rem; --distance:6.24446794880406rem; --position:83.7284453704242%; --time:3.4868448968449233s; --delay:-3.2557971035854507s;"></div>
    <div class="bubble" style="--size:4.115927505352806rem; --distance:8.838327203772522rem; --position:91.10819482926499%; --time:2.4737375589902424s; --delay:-2.2119703219843108s;"></div>
    <div class="bubble" style="--size:3.765564604645311rem; --distance:6.866197758711907rem; --position:44.6979620982136%; --time:2.6403165061025575s; --delay:-2.528452487635231s;"></div>
    <div class="bubble" style="--size:2.4598636911237515rem; --distance:9.02002841142685rem; --position:97.37346907332304%; --time:2.284037362155302s; --delay:-2.02118725392644s;"></div>
    <div class="bubble" style="--size:3.373407097597921rem; --distance:7.129001671580225rem; --position:36.41356526625732%; --time:3.6405563297349945s; --delay:-2.2028156895295385s;"></div>
    <div class="bubble" style="--size:4.548497399450367rem; --distance:9.07502245555401rem; --position:37.71064508556081%; --time:2.672992493609577s; --delay:-3.3333493768352076s;"></div>
    <div class="bubble" style="--size:4.463016214182961rem; --distance:9.269035768220578rem; --position:92.63633078150632%; --time:3.1458245819828066s; --delay:-2.13184484974727s;"></div>
    <div class="bubble" style="--size:3.0845188035358193rem; --distance:6.906392305237809rem; --position:9.76969957950114%; --time:3.2001923339056937s; --delay:-3.1159677999974926s;"></div>
    <div class="bubble" style="--size:3.773625088426062rem; --distance:8.205094073863846rem; --position:36.40757411228898%; --time:2.9197958938531525s; --delay:-3.5101990296098973s;"></div>
    <div class="bubble" style="--size:2.7384360352825716rem; --distance:8.258453604811091rem; --position:76.46977555723655%; --time:2.015109580940532s; --delay:-3.482210399395262s;"></div>
    <div class="bubble" style="--size:3.1087341208708397rem; --distance:9.724771062252056rem; --position:4.053515367093819%; --time:3.6567123378484707s; --delay:-3.347751481100932s;"></div>
    <div class="bubble" style="--size:2.1020491086818556rem; --distance:8.07858523542545rem; --position:33.644755346737604%; --time:3.3919437963159753s; --delay:-3.935004499197683s;"></div>
    <div class="bubble" style="--size:3.185410526296721rem; --distance:7.477516120272406rem; --position:24.490128185061426%; --time:3.5190603363978115s; --delay:-3.727865066364117s;"></div>
    <div class="bubble" style="--size:4.244628222643249rem; --distance:6.783197105997607rem; --position:50.699320533634456%; --time:2.4097102953181815s; --delay:-3.0268569501406826s;"></div>
    <div class="bubble" style="--size:4.383265583822111rem; --distance:7.557186827759298rem; --position:56.8971533817061%; --time:2.5522887009023623s; --delay:-2.283397900851427s;"></div>
    <div class="bubble" style="--size:5.982225232146071rem; --distance:7.890981502126036rem; --position:58.541534982994385%; --time:2.382629359245492s; --delay:-3.690963383211836s;"></div>
    <div class="bubble" style="--size:2.4676885407419844rem; --distance:6.468702719319378rem; --position:33.98029791726455%; --time:3.471613164136375s; --delay:-2.109183291976788s;"></div>
    <div class="bubble" style="--size:5.482737271588694rem; --distance:9.919035989423971rem; --position:92.38735500847415%; --time:2.5105200644332712s; --delay:-2.6850924382904284s;"></div>
    <div class="bubble" style="--size:5.515747055239212rem; --distance:7.428374277459191rem; --position:61.82898944892979%; --time:3.649946946520042s; --delay:-2.529030571696856s;"></div>
    <div class="bubble" style="--size:3.5068478304186073rem; --distance:9.083893251793818rem; --position:51.203030006617794%; --time:2.981480891071301s; --delay:-3.4674759551259497s;"></div>
    <div class="bubble" style="--size:4.826760982386504rem; --distance:7.331491161201694rem; --position:56.81598392358231%; --time:2.777066403641417s; --delay:-3.6172559593413727s;"></div>
    <div class="bubble" style="--size:4.4994226461425155rem; --distance:6.174281768180287rem; --position:76.23205160957752%; --time:3.7206893955160045s; --delay:-2.813438900913471s;"></div>
    <div class="bubble" style="--size:4.315107405270582rem; --distance:8.963396194596807rem; --position:9.006425608521937%; --time:3.479154616958798s; --delay:-3.2021582165477094s;"></div>
    <div class="bubble" style="--size:5.520121943184612rem; --distance:6.560759237579798rem; --position:17.05865907414296%; --time:3.500518039471652s; --delay:-2.355581729458527s;"></div>
    <div class="bubble" style="--size:2.401475407437635rem; --distance:8.754389055928335rem; --position:95.05039310543535%; --time:3.9685670467076863s; --delay:-2.7049058164426323s;"></div>
    <div class="bubble" style="--size:5.869422596679827rem; --distance:6.276672713775602rem; --position:50.17789650316791%; --time:2.8507413838292806s; --delay:-2.1441526403615763s;"></div>
    <div class="bubble" style="--size:4.62325851891208rem; --distance:7.901397131621911rem; --position:78.29036278062279%; --time:3.5635822864922666s; --delay:-3.4306041588264606s;"></div>
    <div class="bubble" style="--size:2.744470269594971rem; --distance:8.356785324276233rem; --position:-2.602274279089245%; --time:2.707958647862104s; --delay:-3.836717058043207s;"></div>
    <div class="bubble" style="--size:5.842559465060234rem; --distance:6.10600666746298rem; --position:-2.5387125051608272%; --time:3.0754996639272383s; --delay:-3.612973275034908s;"></div>
    <div class="bubble" style="--size:5.589424912621809rem; --distance:7.485952594936149rem; --position:91.53523906320898%; --time:3.086943436939717s; --delay:-2.452032642748344s;"></div>
    <div class="bubble" style="--size:4.843091024156356rem; --distance:9.994395471275608rem; --position:32.4898293789918%; --time:3.3359591994487303s; --delay:-2.36630030243361s;"></div>
    <div class="bubble" style="--size:5.226690899616552rem; --distance:6.5478175957296925rem; --position:32.63468384353117%; --time:2.521701386541633s; --delay:-2.3666563590504923s;"></div>
    <div class="bubble" style="--size:5.782499608102035rem; --distance:9.579515565043252rem; --position:20.987402043183387%; --time:3.7469449108159916s; --delay:-3.9853027146278013s;"></div>
    <div class="bubble" style="--size:5.363639814315693rem; --distance:9.986566943060236rem; --position:78.9758301964221%; --time:2.809101428705856s; --delay:-2.741923326658749s;"></div>
    <div class="bubble" style="--size:3.466814228389045rem; --distance:6.203047782019971rem; --position:10.682117991152435%; --time:2.0465958541878546s; --delay:-2.2703318624550155s;"></div>
    <div class="bubble" style="--size:2.476138698097076rem; --distance:7.68157164657858rem; --position:65.4124536573701%; --time:3.610990291883823s; --delay:-3.4509992192651393s;"></div>
    <div class="bubble" style="--size:3.5546722802192328rem; --distance:8.45155442904611rem; --position:86.74769855672693%; --time:3.0698396578208906s; --delay:-2.930768290848748s;"></div>
    <div class="bubble" style="--size:3.377309158373504rem; --distance:9.0770973785075rem; --position:101.09528846809461%; --time:2.85699376437487s; --delay:-2.4534954143025884s;"></div>
    <div class="bubble" style="--size:5.19593077007315rem; --distance:6.971610919868185rem; --position:42.78105350915767%; --time:3.7446359529198094s; --delay:-3.712614397829454s;"></div>
    <div class="bubble" style="--size:5.367705263071469rem; --distance:6.231411461616434rem; --position:65.82546996583542%; --time:2.496676584271781s; --delay:-2.4108568875277445s;"></div>
    <div class="bubble" style="--size:2.606801595191417rem; --distance:8.563462120109115rem; --position:63.60842021133813%; --time:3.9446410567526176s; --delay:-2.671956108187292s;"></div>
    <div class="bubble" style="--size:3.4357113634010092rem; --distance:9.987541651033055rem; --position:47.95085265795255%; --time:2.9225516190006093s; --delay:-3.8111402792800817s;"></div>
    <div class="bubble" style="--size:5.979450910193924rem; --distance:6.936118190332871rem; --position:9.454495710673545%; --time:3.888345938174914s; --delay:-3.4856887890402524s;"></div>
    <div class="bubble" style="--size:3.250706731501362rem; --distance:8.660615571595638rem; --position:102.84981850382984%; --time:2.6919112281533013s; --delay:-3.0091379126925055s;"></div>
    <div class="bubble" style="--size:5.025404438925001rem; --distance:8.390374109968104rem; --position:93.11693682875988%; --time:2.127872330127651s; --delay:-3.3865645578948596s;"></div>
    <div class="bubble" style="--size:5.838183560411842rem; --distance:6.754438140594476rem; --position:90.51059745421723%; --time:2.9256943691966177s; --delay:-3.160074528566319s;"></div>
    <div class="bubble" style="--size:4.208264081420301rem; --distance:9.541428557711239rem; --position:50.64661532167144%; --time:2.1568330444454977s; --delay:-2.397464669725916s;"></div>
    <div class="bubble" style="--size:5.689515968450486rem; --distance:8.026066957815694rem; --position:22.239881233663642%; --time:2.447225697283961s; --delay:-3.850444773681081s;"></div>
    <div class="bubble" style="--size:5.312407504970682rem; --distance:8.179275371803756rem; --position:3.753116491020984%; --time:2.462687883638312s; --delay:-2.8089612209431176s;"></div>
    <div class="bubble" style="--size:4.115598134351164rem; --distance:6.111271813443543rem; --position:28.179955267644367%; --time:3.747256418228694s; --delay:-2.2193120853488724s;"></div>
    <div class="bubble" style="--size:4.7572138081460205rem; --distance:6.700250865345108rem; --position:100.29128973558353%; --time:3.9833033420391826s; --delay:-3.438067839265836s;"></div>
    <div class="bubble" style="--size:3.5682473807860795rem; --distance:7.160107416012925rem; --position:27.198282862586716%; --time:2.127191797451015s; --delay:-2.37575946253576s;"></div>
    <div class="bubble" style="--size:5.819669165025217rem; --distance:9.8549595826361rem; --position:90.40954528684927%; --time:2.1177664172646753s; --delay:-3.4697357241297144s;"></div>
    <div class="bubble" style="--size:4.648480465070664rem; --distance:8.61661562852042rem; --position:40.32959753121436%; --time:2.2393030679420614s; --delay:-3.2746712760695282s;"></div>
    <div class="bubble" style="--size:4.283976643621961rem; --distance:8.47739347729123rem; --position:86.40254650721333%; --time:3.382271523427394s; --delay:-3.5971790926189877s;"></div>
    <div class="bubble" style="--size:3.6271696477027415rem; --distance:7.708059685329171rem; --position:17.741929450106976%; --time:3.7736691783442255s; --delay:-2.300871835469269s;"></div>
    <div class="bubble" style="--size:4.7826468787671015rem; --distance:8.518617729928081rem; --position:12.925569434661817%; --time:2.132624354946125s; --delay:-3.682444796078515s;"></div>
    <div class="bubble" style="--size:3.763598307015082rem; --distance:7.20611854402371rem; --position:37.1925033561605%; --time:2.6058736765330393s; --delay:-2.298189887397763s;"></div>
    <div class="bubble" style="--size:5.323935387868813rem; --distance:8.53687396794023rem; --position:55.93515013985153%; --time:2.216592122063799s; --delay:-2.4946655418907535s;"></div>
    <div class="bubble" style="--size:2.4399467571674105rem; --distance:7.554386734978098rem; --position:48.18275832786683%; --time:3.8389086610371685s; --delay:-2.155851963291589s;"></div>
    <div class="bubble" style="--size:4.65506091992819rem; --distance:9.256210048650766rem; --position:12.35506238923388%; --time:2.900801073102761s; --delay:-2.073978023918565s;"></div>
    <div class="bubble" style="--size:3.0918294188294rem; --distance:7.671954705568987rem; --position:22.24031061258928%; --time:2.189901899701351s; --delay:-2.4216749843421472s;"></div>
    <div class="bubble" style="--size:4.824959087156041rem; --distance:7.830571152480851rem; --position:88.1598127858554%; --time:2.3113418912858497s; --delay:-3.565434984356028s;"></div>
    <div class="bubble" style="--size:4.873909161109342rem; --distance:6.2127530315451rem; --position:88.17392616100763%; --time:3.4884830525119863s; --delay:-2.930920378747447s;"></div>
    <div class="bubble" style="--size:5.5122595604498885rem; --distance:6.710104813003761rem; --position:95.77009998107975%; --time:3.408609736461871s; --delay:-2.5844299979766245s;"></div>
    <div class="bubble" style="--size:5.917499073286125rem; --distance:9.47422334213573rem; --position:49.41164955856674%; --time:2.3090745280179164s; --delay:-3.6441241608562818s;"></div>
    <div class="bubble" style="--size:5.468966089178835rem; --distance:8.486611163865927rem; --position:24.27194979711328%; --time:2.907169266739913s; --delay:-2.542174925461177s;"></div>
    <div class="bubble" style="--size:3.3996221589082944rem; --distance:7.149900595434786rem; --position:30.64064607301404%; --time:2.4017157927686106s; --delay:-3.045455191546947s;"></div>
    <div class="bubble" style="--size:5.025811417236867rem; --distance:9.312769682058047rem; --position:37.43833438115382%; --time:2.814405887364942s; --delay:-3.404840403397504s;"></div>
    <div class="bubble" style="--size:2.3575343136764824rem; --distance:8.886729773020427rem; --position:-2.727372742570251%; --time:2.802430951845984s; --delay:-2.0409196380172845s;"></div>
    <div class="bubble" style="--size:4.418718802325551rem; --distance:6.418081531657831rem; --position:68.69935497131644%; --time:3.229300301625863s; --delay:-3.498468526699985s;"></div>
    <div class="bubble" style="--size:2.792101890123207rem; --distance:8.996229266270458rem; --position:100.01805448847445%; --time:3.120465461916594s; --delay:-2.262834633380811s;"></div>
    <div class="bubble" style="--size:4.740911486825732rem; --distance:8.668287344356704rem; --position:100.17636105171707%; --time:2.4175456570851033s; --delay:-3.971183834581717s;"></div>
  </div>
  <div class="content">
    <div class="container">
      <div class="col1">
        <a href="#" class="brand">Contact Us</a>
        <ul class="media-icons">
          <li>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-discord"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-github"></i></a>
          </li>
        </ul>
      </div>
    <div>
      <div class="footer-bottom">
      <div class="mekk">
        <p>GreenMark Pvt. Ltd. - All Rights Reserved</p>
      </div>
    </div>
    </div>
  </div>
</div>
<svg style="position:fixed; top:100vh">
  <defs>
    <filter id="blob">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
      <!--feComposite(in="SourceGraphic" in2="blob" operator="atop") //After reviewing this after years I can't remember why I added this but it isn't necessary for the blob effect-->
    </filter>
  </defs>
</svg>

<!-- #endregion -->


  <!-- <div class="page">
      
    </div> -->

  <script type="module" src="/javascripts/common.js"></script>

</body>

</html>