<!DOCTYPE html>
<html>
  <head>
    <title>Epics Project</title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel="stylesheet" href="/stylesheets/signedOutProfile.css">
    <script  src="https://code.jquery.com/jquery-3.1.1.min.js"  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="  crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" ></script>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  </head>
  <body class="profilePage">
    <div class="container">
    
      <div class="cover">        
        
      <div id="registerFragment" class="registerBody">
          <div class="veen">
            <div class="login-btn splits">
              <p>Already an user?</p>
              <button class="active">Login</button>
            </div>
            <div class="rgstr-btn splits">
              <p>Don't have an account?</p>
              <button>Register</button>
            </div>
            <div class="wrapper">
              <form id="login" tabindex="500">
                <h3>Login</h3>
                <div class="mail">
                  <input id="loginUserEmail" type="mail" name="">
                  <label>Mail</label>
                </div>
                <div class="passwd">
                  <input id="loginUserPass" type="password" name="">
                  <label>Password</label>
                </div>                
                  <div id="loginUser" class="dark">Login</div>                

              </form>
              <form id="register" tabindex="502">
                <h3>Register</h3>
                <div class="mail">
                  <input id="createUserEmail" type="mail" name="">
                  <label>Mail</label>
                </div>
                <div class="name">
                  <input id="usernameInp" type="name" name="">
                  <label>Username</label>
                </div>
                <div class="passwd">
                  <input id="createUserPass" type="password" name="">
                  <label>Password</label>
                </div>
                <div class="passwd">
                  <input id="createUserRePass" type="password" name="">
                  <label>Re-Enter Password</label>
                </div>
                
                  <div id="createUser" class="dark">Register</div>
                
              </form>
            </div>
          </div>	
        </div>
      
      
        <style type="text/css">
          .site-link{
            padding: 5px 15px;
            position: fixed;
            z-index: 99999;
            background: #fff;
            box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
            right: 30px;
            bottom: 30px;
            border-radius: 10px;
          }
          .site-link img{
            width: 30px;
            height: 30px;
          }
        </style> 
      </div>
    
      <button id="btnSignout">signout</button>

    </div>

    <div id="toaster"></div>

    <script type="module" src="/javascripts/register.js"></script>
    <script type="module" src="/javascripts/common.js"></script>
    <script type="module" src="/javascripts/home.js"></script>
  </body>
</html>
